@model CursosFuncionarios.Models.FuncionarioCurso

@{
    ViewData["Title"] = "Create";
}

<h1>Incluir</h1>

<h4>Curso / Funcionário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFuncionario" class="control-label"></label>
                <select asp-for="IdFuncionario" class="form-control" asp-items="ViewBag.Funcionarios"></select>
                <span asp-validation-for="IdFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCursoAplicacao" class="control-label"></label>
                <select asp-for="IdCursoAplicacao" class="form-control" asp-items="ViewBag.CursosAplicacao"></select>
                <span asp-validation-for="IdCursoAplicacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" min="0" max="10" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Andamento" class="control-label"></label>
                <select class="form-select mb-3" asp-for="Andamento" asp-items="Html.GetEnumSelectList<AndamentoCurso>()"></select>
                <span asp-validation-for="Andamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
